
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    overflow: hidden;
}


div.absolute {
    position: absolute;
    top: 80vh;
    right: 0;
    width: 200vw;
    height: 100vh;
    border: 3px solid #73AD21;
}


.demotext {
    width: 100%;
    height: auto;
    color: #2D1E2F;
    background: #ff0000;
    font-family: serif;
    font-size: 80px;
    top: 0;
    left: 45vw;
    text-align: center;
    }


.stage {
    position: relative;
    /* top: 0; */
    border: solid forestgreen 2px;
    height: 100vh;
    width: 100%;
}

#foreground {
    position: absolute;
    z-index: 4;
    top: 210px;
    right: 20px;
}

#midground {
    position: absolute;
    z-index: 3;
    top: 80px;
}

#background {
    position: absolute;
    z-index: 1;
}

#character { 
    top: 0px;
    position: absolute;
    z-index: 30;
    right: 0px;
}

#stars {
    top: 0;
    position: absolute;
    z-index: 3;
    right: 0px;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
     width: 100%;
    height: auto;
    color:aquamarine;
    z-index: 5;
    font-family: serif;
    font-style: bold italic;
}

.nav {
    width: 120px;
    height: auto;
    color: #A9E5BB;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.introduction {
    background-color: #FDFD96;/* Yellow */
    color:#2D1E2F;
    text-align: center;
}

.chapters {
    background-color: #F7B32B;/* Orange */
    text-align: center;
}

.contact {
    background-color: #2D1E2F;/* Purple */
    color: #A9E5BB;
    text-align: center;
}

div.absolute {
    position: absolute;
    top: 80vh;
    right: 0;
    width: 200vw;
    height: 100vh;
    border: 3px solid #73AD21;
}


.demotext {
    width: 100%;
    height: auto;
    color: #2D1E2F;
    background: #E3170A;
    font-family: serif;
    font-style: bold italic;
    font-size: 80px;
    top: 0;
    left: 45vw;
    text-align: center;
    }


.stage {
    position: relative;
    /* top: 0; */
    border: solid forestgreen 2px;
    height: 100vh;
    width: 100%;
}

#foreground {
    position: absolute;
    z-index: 4;
    top: 210px;
    right: 120px;
}

#midground {
    position: absolute;
    z-index: 3;
    top: 110px;
    right: 120px;
}

#background {
  width: 100vw;
  height: 100vh;
    z-index: 1;
}

#character { 
    top: 75px;
    position: absolute;
    z-index: 30;
    right: 35px;
}

#stars {
    top: 5px;
    position: absolute;
    z-index: 3;
    right: 10px;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
     width: 100%;
    height: auto;
    z-index: 5;
    color:#A9E5BB;
}

.hoverimage {
    height: 200px;
    width: 200px;
    background-image: url("grandmahouse.png");
    background-size: cover;
    border: solid #FDFD96 2px;
}
.hoverimage:hover {
    background-image: url("grandmahousebright.png");
}

.dream {
    height: 200px;
    width: 200px;
    background-image: url("petalfield.png");
    background-size: cover;
    border: solid #A9E5BB 2px;
}

.dream:hover {
    background-image: url("petalfieldbright.png");
}

.fashion{ 
    height: 200px;
    width: 200px;
    background-image: url("standing.png");
    background-size: cover;
    border: solid #2D1E2F 2px;
}

.fashion:hover {
    background-image: url("standingbright.png");
}

#dreamgirl {
    width: 30%;
    position: relative;
}

.Miri{
    text-align: center;
    width: 100%;
    height: auto;
}

.logo {
    background-color: #A9E5BB;
    text-align: center;
} 

.banner{
    text-align: center;
    color: white;
    width: 100%; 
    font-family: serif;
    font-style: bold italic;
}

.intro {
    text-align: center;
    color:#2D1E2F;
}

.question {
    text-align: center;
    color:#FDFD96;
}

.statement {
    text-align: center;
    color:#2D1E2F;
    background-color: cyan;
    font-family: san serif;
    font-style: Bold italic;
}

.grandma {
    width: auto;
    text-align: center;
    border-color: aquamarine;
}

h4 {
    font-family: serif;
    font-style: bold italic;
    Color: #2D1E2F;
    border-color: #A9E5BB;
}

h3 {
    font-family: serif;
    font-style: bold italic;
    Color: #2D1E2F;
    border-color: #42a1c7;
}

.communicate {
    text-align: center;
    font-size: xx-large;
    color: #FDFD96;
}

.intochapters {
    text-align: justify;
    font-family: serif;
    font-style: bold italic;
    font-size: larger;
    border-color: #A9E5BB;
    color:#2D1E2F;
}

.text {
    text-align: center;
    font-family: serif;
    font-style: bold italic;
    border:#A9E5BB;
}