
body {
    background-image: url(../images/background.png) ; 
    background-attachment:fixed;
    background-position:absolute;
    position: absolute;
    background-color: white;
}


div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}

#background {
    position: absolute;
    width: auto
    height fit-content;
}

#midground {
    position: absolute;
}

#foreground {
    position: absolute;
}

#character {
    position: absolute;
}

#demotext {
    color: #2D1E2F;
    background: #ff0000;
    color: #A9E5BB;
    background: yellow;
    font-family:serif;
    font-size: 80px;
    font-style: italic;
    font-variant: small-caps;
    position:absolute;
    top: 0;
    left:45vw;
    z-index: 2
    }
    