.hoverimage{
    height: 200px;
    width: 200px;
    background-image: url("worm.png");
    background-size: cover;
    border: solid cyan 2px;
}

.hoverimage:hover{
    background-image: url(harry.gif);
}